/protoType/nbproject/private/
/protoType/build/
/protoType/dist/
/Factory/nbproject/private/
/Factory/build/
/FactoryPatternEnimyDemo/nbproject/private/
/FactoryPatternEnimyDemo/build/
/AbstractFactoryDemo/nbproject/private/
/AbstractFactoryDemo/build/
/AbstractFactoryDemo/dist/